body{
    font-family: "Days One", sans-serif;
}
:root {
    --main-color: #CBFE1C; 
}
.my-nav{
    background-color: #0B0E13;
    border-bottom: .125rem solid rgba(255, 255, 255, 0.418);
    font-family: "Chakra Petch", sans-serif;
}
.my-nav .nav-link{
    color: #FFFF;
    font-size: 1.125rem;
    font-weight: 400;
}
.my-nav .nav-link:hover{
    color: #CBFE1C;
}
.my-nav  .active{
    color: #CBFE1C !important;
}
.logo {
    font-size: 1.25rem;
    font-weight: 700;
}
.logo , .logo a{
    color: #CBFE1C !important;
}
.nav-right li i{
    font-size: 1.25rem;
}
.nav-right li i:hover{
    color: #CBFE1C;
    cursor: pointer;
}
.my-btn1{
    background-color:  #CBFE1C;
    font-size: 1.125rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.my-btn1::before{
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0)  ,white 70%,rgba(0, 0, 0, 0)) ;
    position: absolute;
    top: 0;
    left: -120%;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.my-btn1:hover::before {
    left: 120%;
}
.my-btn1:hover{
    background-color: #A4CE20;
}
.section1{
    background-image:  linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) ) ,url(back\ ground.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.section1 .title h1{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.6875rem;
}
.section1 .title p{
    font-family: "Chakra Petch", sans-serif;
}
.section1 .title h1 span{
    color: var(--main-color);
}
.my-btn2{
    font-family: "Chakra Petch", sans-serif;
    background-color:  transparent;
    border: .0625rem solid var(--main-color);
    color: var(--main-color);
    font-size: 1.125rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}.my-btn2::before{
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0)  ,white 70%,rgba(0, 0, 0, 0)) ;
    position: absolute;
    top: 0;
    left: -120%;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.my-btn2:hover::before {
    left: 120%;
}
.my-btn2:hover{
    background-color: var(--main-color);
    color: #0B0E13;
}
.img img{
    width: 35.5rem;
    height: 24rem;
}
.active{
    background-color: #0B0E13;
    border: .125rem solid #212734;
    width: fit-content;
    top:70% ;
    left: -2%;
}
.active p{
    font-size: .75rem;
    color:#7B828F ;
}
.active i{
    color: var(--main-color);
    font-size: 1.125rem;
} 
.section2 , .section3 , .section4{
    background-color:#0B0E13 ;
}
.section2 article p {
    color: var(--main-color);
    font-size: .875rem;
}
.section2 article p::after{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to right, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    left: 36%;
}
.section2 article p::before{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to left, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    right: 36%;
}
.inner h6{
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.125rem;
    left: 4%;
    bottom: -10%;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.effect{
    border:3px solid var(--main-color);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom , rgba(0,0,0,0.0) 50% ,#AFDB33);
    top: 0;
    opacity: 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.inner:hover h6,.inner:hover .effect {
    opacity: 1;
    cursor: pointer;
}
.inner:hover h6{
    opacity: 1;
    bottom: 10%;
}
.titles-top span i {
    font-size: 12px;
    font-weight: 700;
}
.titles-top span {
    font-family: "Chakra Petch", sans-serif;
    width: 130px;
    background-color: #28431A;
    text-align: center;
    font-size: 12px;
}
.titles-top {
    top: -10%;
    left: 5%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.inner:hover  .titles-top {
    top: 3%;
}
.inner .img {
    transition: all ,3s ;
    -webkit-transition: all ,3s ;
    -moz-transition: all ,3s ;
    -ms-transition: all ,3s ;
    -o-transition: all ,3s ;
    object-fit: cover;
}
.carousel-control-prev,.carousel-control-next {
    width: 60px;
    height: 60px;
    background: #0f1014 transparent;
    border: 3px solid #7B828F;
}
.carousel-control-prev i,.carousel-control-next i{
    font-size: 1.5625rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.carousel-control-prev:hover,.carousel-control-next:hover {
    border : 3px solid var(--main-color);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.carousel-control-prev i:hover,.carousel-control-next i:hover{
    color: var(--main-color);
}
.my-btn3 {
    font-family: "Chakra Petch", sans-serif;
    background-color:  transparent;
    border: .1875rem solid var(--main-color);
    color: var(--main-color);
    font-size: 1.125rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.my-btn3:hover{
    background-color: var(--main-color);
    color: black;
}
.section3 article p {
    color: var(--main-color);
    font-size: 1.125rem;
    letter-spacing: 3.2px;
}
.section3 article h3{
    font-family: "Chakra Petch", sans-serif;}

.section3 article h3 span{
    font-family: "Chakra Petch", sans-serif;
    color: var(--main-color);
}
.section3 article p::after{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to right, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    left: 34%;
}
.section3 article p::before{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to left, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    right: 34%;
}
.section3 .inner .card {
    background-color: #1A1A1A;
    border: 2px solid #1E2939;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.section3 .inner .card .titles i {
    background-color: #1E2939;
    font-size: 1.5rem;
    width: 70px;
    padding: 20px 15px;
    color: var(--main-color);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.section3 .inner .card .titles h3 {
    font-size: 1.25rem;
}
.section3 .inner .card::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    position: absolute;
    top: 10px ;
    left: 10px;
    clip-path: polygon(0 0 ,100% 0 ,0 100%);
    transform: translate(-100% ,-100%) ;
    -webkit-transform: translate(-100% ,-100%) ;
    -moz-transform: translate(-100% ,-100%) ;
    -ms-transform: translate(-100% ,-100%) ;
    -o-transform: translate(-100% ,-100%) ;
    transition: all .3s;
}
.section3 .inner .card::before{
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 10px;
    right: 10px;
    clip-path: polygon(0 0 ,100% 0 ,0 100%);
    transform: translate(100% ,100%) rotate(180deg);
    -webkit-transform: translate(100% ,100%) rotate(180deg);
    -moz-transform: translate(100% ,100%) rotate(180deg);
    -ms-transform: translate(100% ,100%) rotate(180deg);
    -o-transform: translate(100% ,100%) rotate(180deg);
    transition: all .3s;
}
.section3 .inner .card:hover::after{
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}
.section3 .inner .card:hover::before{
    transform: translate(0,0) rotate(180deg);
    -webkit-transform: translate(0,0) rotate(180deg);
    -moz-transform: translate(0,0) rotate(180deg);
    -ms-transform: translate(0,0) rotate(180deg);
    -o-transform: translate(0,0) rotate(180deg);
}
.section3 .inner .card:hover .titles i{
    background-color: var(--main-color);
    color: black;
}
.section3 .inner .card:hover{
    border: 2px solid var(--main-color);
}
.line{
    width: 60%;
    height: 4px;
    background: linear-gradient( 90deg, black , #CBFE1C 80% ,black  );
}
.logo-scroll {
    background: radial-gradient(circle at center,var(--main-color) 0%, #000 40%);
}
.track {
    animation: scroll 20s linear infinite;
    -webkit-animation:ds  20s linear infinitelie;
}
.track-2{
    animation: move 20s linear infinite;
    -webkit-animation: move 20s linear infinite;
}
.logo{
    width: 120px;
    flex-shrink: 0;
    }
.logo img{
    width: 100%;
    border-radius: 20px;
    display: block;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    100% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}
@keyframes move {
    0% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}
.section4 article span {
    color: var(--main-color);
    font-size: 1.125rem;
    letter-spacing: 3.2px;
}
.section4 article span::after{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to right, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    left: 34%;
}
.section4 article span::before{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to left, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    right: 34%;
}
.section4 .about{
    top: 55%;
    left: 6%;
}
.section4 .about h3{
    font-size: 20px;
    font-weight: 700px;
}
.section4 .about p {
    font-family: "Chakra Petch", sans-serif;
    color: var(--main-color);
}
.section4 .about span{
    font-family: "Chakra Petch", sans-serif;
    font-size: .875rem;
    color: #a89dad ;
}
.roted-text{
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: var(--main-color);
    bottom: 20%;
    right: 0;
}
.blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    backdrop-filter: grayscale(100%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.section4 .inner:hover .blur-layer {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.section4 .inner{
    cursor: pointer;
}
.go{
    border: 1px solid #0B0E13;
}
.section5{
    background-color: #0E131D;
}
.section5 article span {
    color: var(--main-color);
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 3.2px;
}
.section5 article span::after{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to right, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    left: 34%;
}
.section5 article span::before{
    content: "";
    width: 100px;
    height: .25rem;
    background: linear-gradient(to left, black , var(--main-color) 90%);
    position: absolute;
    top: 10px;
    right: 34%;
}
.section5 .about h3{
    font-size: 20px;
    font-weight: 700px;
}
.section5 .about p {
    font-family: "Chakra Petch", sans-serif;
    color: var(--main-color);
}
.section5 .about span{
    font-family: "Chakra Petch", sans-serif;
    font-size: .875rem;
    color: #a89dad ;
}
.section5 .location{
    background-color: #1E2939;
}
.section5 .location .location-titles{
    width: 528px;
}
.section5 .location .location-titles span i {
    width: 64px;
    background-color: var(--main-color);
    padding: 20px;
    font-size: 1.125rem;
}
.section5 .location .location-titles div p{
    font-size: .875rem;
    font-weight: 400;
    color: #8C94A2;
}
.section5 .location-last{
    background: linear-gradient(to right , #ACF743 ,#54E569);
}
.discord ,.twitter ,.insta,.youtube {
    width: 60px;
    background-color: black;
    color: var(--main-color);
    padding: 17px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.discord:hover ,.twitter:hover ,.insta:hover,.youtube:hover{
    background-color: #273B1F;
}
.form-inner-2{
    background-color: #1E2939;
}
.form-control:focus {
    border-color: var(--main-color)!important;
    box-shadow: 0px 0px 0px 1px  var(--main-color) !important;
}
.form-control{
    padding: 15px  !important;
    background-color: #364153;
}
.form-select{
    padding: 15px  !important;
    background-color: #364153;
    width: 98%;
}
.form-select:focus{
    border-color: var(--main-color)!important;
    box-shadow: 0px 0px 0px 1px  var(--main-color) !important;
}
.form-check-input{
    width: 25px !important;
    height: 25px !important;
}
.form-check-input:focus{
    border-color: var(--main-color)!important;
    box-shadow: 0px 0px 0px 1px  var(--main-color) !important;
}
.my-btn-form{
    background-color:  #CBFE1C;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.my-btn-form::before{
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0)  ,white 70%,rgba(0, 0, 0, 0)) ;
    position: absolute;
    top: 0;
    left: -120%;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.my-btn-form:hover::before {
    left: 120%;
}
.my-btn-form:hover{
    background-color: #A4CE20;
}
.line-2{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.37);
}
.end-form .right span ,.end-form .left span{
    color: var(--main-color);
}
footer{
    font-family: "Chakra Petch", sans-serif;
}
.section6 .icons span i {
    font-size: 1.5rem;
    cursor: pointer;
}
.section6 .part-one h3 {
    color: var(--main-color);
}
.section6 .icons span i:hover{
    color: var(--main-color);
}
.section6 .games span:hover{
    color: var(--main-color);
}
.line3{
    width: 100%;
    height: 1px;
}
@media screen and (max-width:640px) {
    .section1 .title h1{
    font-size: 30px;
    width: 100%;
    padding: 25px;
    line-height: 30px;
}
    .my-btn1{
    width: 100%;
}
    .my-btn2{
    width: 100%;
}
.section2 article p::after{
    left: -2%;
}
.section2 article p::before{
    right: -2%;
}
.section3 article p::after{
    left: -8%;
}
.section3 article p::before{
    right: -8%;
}
.section4 article span::after{
    left: -3%;
}
.section4 article span::before{
    right: -3%;
}
.section5 article span::after{
    left: -8%;
}
.section5 article span::before{
    right: -8%;
}
}